
/*#region Global Css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  color: #1e1e1e;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.text-center{
  text-align: center;
}

/*#endregion Global Css */

/*#region Buttons Css */

.btn {
   background: #1700ff;
   border: 1px solid #f0f0f0;
   border-radius: 1rem;
   color: #fff;
   padding: 0.5rem;
   text-transform: capitalize;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   transition: background 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
   -webkit-transition: background 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
   -moz-transition: background 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
   -ms-transition: background 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
   -o-transition: background 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--inline-block{
  display: inline-block;
  margin: 1rem 0.5%;
  width: 90%;
}

.btn--transparent{
  background:transparent;
  color: #000;
}

.btn:hover,
.btn:active,
.btn:focus{
  cursor: pointer;
  background:#1e1e1e;
  color: #fff;
  outline: none;
}

/*#endregion Buttons Css */

/*#region Errors*/

.error {
  height: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.error.c-validation {
  display: block !important;
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative;
  height: 100%;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin: 0 auto 20px !important;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

/*#endregion Errors*/

/*#region Form*/

.form__input {
  border: 1px solid #f0f0f0;
  border-radius: 0.3em;
  width: 40%;
  padding: 5px 10px;
  margin: 1rem;
  outline: 0;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
}
.form__input:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 122, 255, 0.2);
}
.form__input:focus {
  box-shadow: 0 1px 3px 0 rgba(0, 122, 255, 0.5);
}

/*#endregion Form*/

/*#region Animation Css */

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*#endregion Animation Css */

@media (min-width: 56rem) {
  .btn--inline-block{
    margin: 0 0.5%;
    width: 32%;
  }
  .form__input{
    padding: 5px 20px;
    width: 30%
  }
}